    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      text-decoration: none;
      font-family: "Ubuntu";
    }
	
    body {
      background: linear-gradient(180deg, #1f263b 30%, #000 70%);
      color: #ddd;
      width: 100vw;
      height: 100vh;
    }

   .tape {
      position: fixed;
      z-index: 1;
      width: 100%;
      pointer-events: none;
      top: -5px;
    }
    
    .container {
      display: grid;
      grid-template-columns: .5fr 1fr 1fr;
      width: 100%;
      height: 100%;
      grid-gap: 5px;
      padding: 33px 10px 5px 0;
    }
    
    .data {
      zoom: .85;
      height: 100%;
      padding: 12px;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: inset -0.3em 0.001em 0.3em #111;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    
    input {
      text-align: center;
      padding: 8px;
      margin: 5px 10px;
      border-radius: 5px;
      border: none;
    }
    
    .btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 5px;
    }
    
    #btn1 {
      width: 120px;
      background: lightseagreen;
      color: #fff;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      padding: 10px;
    }
    
    #btn1:hover {
      box-shadow: inset -0.01em -0.2em 0.05em #fff;
    }
    
    #btn1:active {
      transform: scale(.9);
      transition: all 0.3s ease-in-out;
    }
    
    #clear-btn {
      width: 120px;
      background: red;
      padding: 10px;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      font-weight: bold;
    }
    
    #clear-btn:hover {
      box-shadow: inset -0.01em -0.25em 0.1em #ccc;
    }
    
    #clear-btn:active {
      transform: scale(.9);
      transition: all 0.3s ease-in-out;
    }
    
    h5 {
      text-align: left;
      margin: 10px -12px -7px -10px;
      background: rgba(154, 111, 50, 0.1);
      color: white;
      padding: 5px;
      font-size: bold;
      box-shadow: -0.1em 0.1em 0.05em lightseagreen, -0.2em 0em 0.2em seagreen;
    }
    
    h6 {
      text-align: left;
      margin: 10px -12px -5px;
      background: rgba(32, 178, 170, 0.4);
      color: white;
      padding: 4px;
      font-size: 14px;
      font-weight: bold;
      box-shadow: -0.1em 0.1em 0.05em lightseagreen, -0.2em 0em 0.2em seagreen;
    }

    .social {
      margin: -5px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 20px;
    }

    .social .discord {
      border-radius: 8px;
      padding: 7px;
      background: rgba(88, 101, 242, 1)
    }

    .social .twt {
      border-radius: 8px;
      padding: 7px;
      background: rgba(0, 0, 0, 1)
    }
    
    .social .paypal {
      border-radius: 8px;
      padding: 7px 10px;
      background: rgba(0, 48, 135, 1)
    }
    
    .social .github {
      border-radius: 8px;
      padding: 7px;
      background: rgba(36,41,46, 1)
    }
           
    ul {
      list-style-type: none;
      font-weight: bold;
      text-align: left;
      padding: 10px;
      margin-left: -10px;
      margin-bottom: -15px;
    }
    
    ul li {
      margin: 8px;
      padding: 1.25px;
    }
    
    .data a {
      color: #eee;
      text-decoration: none;
      font-size: 12px;
      border: none;
    }
    
    .data a:hover:not(.no-hover) {
      transition: all 0.25s ease-in-out;
      background: rgba(32, 150, 170, 0.8);
      padding: 5px 12px 5px 0;
      border-radius: 10px 0 10px 0;
      color: white;
    }
    
    #results p {
      color: grey;
      font-size: 11px;
      margin-top: 160px;
      text-align: center;
    }
    
    #fin {
      width: 100%;
      height: 100%;
    }
    
    #section4 {
      text-align: center;
      padding: 12px;
      display: none;
      border-radius: 7px;
      border: 1px solid #333;
      box-shadow: inset -0.3em 0.001em 0.3em #111, inset 0.3em -0.001em 0.3em #111;
    }
    
   .part4 {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px inset #111;
    }
    
    .mobile-nav {
      display: none;
    }
  
    .hidden {
      display: flex;
    }

 /* MOBILE VIEW */   
    @media only screen and (max-width: 768px) {
    
    .container {
      padding: 10px 10px 75px;
      grid-template-columns: 1fr;
      overflow: hidden;
    }

    .data {
      width: 100%;
      border-radius: 7px;
      box-shadow: inset -0.3em 0.001em 0.3em #111, inset 0.3em -0.001em 0.3em #111;
    }

    .tape, .hidden {
      display: none;
    }

    .mobile-nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 65px;
      border: .01px solid #111;
      display: inline-block;
      background: #000;
    }

    .mobile-nav ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 45px;
    }

    .mobile-nav a {
      color: ivory;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 5px;
    }

    .mobile-nav:hover a {
      font-weight: 700;
      transition: all .3s ease-in-out;
    }

    .mobile-nav a:hover i{
      color: white;
      transform: scale(1.25);
      transition: all .3s ease-in-out;
    }

    .mobile-nav i {
      color: lightseagreen;
      font-size: 22px;
    }

    .mobile-nav a span {
      font-size: 7px;
    }
}
